<h1>{{name}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Método:</td>
  <dd>{{getHeroDescription()}}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>


  <button
  *ngIf="name !== nameNew"
  (click)="changeHero()"
  class="btn btn-primary mx-2">
    Cambiar nombre
  </button>

  <button
  *ngIf="age !== ageNew"
  (click)="changeAge()" class="btn btn-primary mx-2">
    Cambiar edad
  </button>


  <button
  (click)="reset()" class="btn btn-primary mx-2">
    Resetear
  </button>
</dl>
